.content-wrapper{
 display: inline-block;
}
.card{
    padding-block: 5px;
    color: brown;
}
.jumbotron{
    background-color: white;
    display: block;
    align-content: center;
}
/* .main{
    max-width: 1000px;
} */
