<div class="container main">
  <h1 class="ml-2">GitHub Search</h1>
  <hr>
  <div class="jumbotron">

  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="myintro">
        <div class="ml-3">
          <h1 class="salute">
            <span>Hey there</span><br>
            <span class="name">I'm Turi.</span>
            <br><span>And Here's my GitHub Profile</span>
          </h1>
          <button routerLink="/users" class="btn btn-info">Find more Profiles</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-xs-12">
        <div class="column">
          <div class="card">
            <div class="col-sm-6">
              <img src="../../assets/Screenshot_20190823_113834.jpg" alt="my avatar"
                style="max-height: 200px; margin:3%; border-radius: 100px;">
                <hr>
                <a href="https://github.com/Turi-byte"
                ><button 
                class="btn btn-dark">My Profile</button></a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="col-sm-6">
              <h1>Turi-byte</h1>
              <hr>
              <div class="content-wrapper">
                <div class="card">
                  <p>Followers<br><span class="followers">1</span></p>
                </div>
                <div class="card">
                  <p>Following<br><span>2</span></p>
                </div>
                <div class="card">
                  <p>Repositories<br><span>25</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












<!-- <div class="container ml-5">
  <div class="row" style="margin-top: 10%;">
    <div class="col-md-6">
      <div class="card">
        <div class="card-title">
          <h1><span>Turi,</span><br>The Legend's way.<span><br>See your fellow champions on GitHub</span></h1>
        </div>
        <div class="card-text">
          <button routerLink="/users" class=" btn btn-hover btn-link">Find fellow legends</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-xs 12">
        <div class="col-md-6">
          <div class="card">
            <div class="card-img" style="float: left;">
              <img src="../../assets/Screenshot_20190823_113834.jpg" alt="my avatar"
                style="max-height: 200px; border-radius: 100px;">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-title">
            <h3>Turi-byte</h3>
          </div>
          <div class="card-body" style="display: inline-flex;">
            <p>Followers<br><span>1</span></p>
            <p style="margin-left: 8px;">Following<br><span>4</span></p>
            <p style="margin-left: 8px;">Repositories<br><span>25</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
